

/* font-awesome.css */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');


.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 14px;
    cursor: pointer;
}

    /* Darker background on mouse-over */
    .btn:hover {
        background-color: RoyalBlue;
    }

.button {
    display: block;
    width: 80px;
    height: 20px;
    background-color: DodgerBlue;
    padding: 12px;
    color: white;
    cursor: pointer;
}

    .button:hover {
        background-color: RoyalBlue;
    }